h1
{
    color: black;
    font-size: 2.0em;
    text-align: center;
    border-bottom: turquoise;
}
p
{
    color: red;
    font-family: Courier New, Courier, monospace;
    font-size: 1.5em;
    text-align: center;
}
body 
{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/18/Flinders_-_over_Desert_plain.JPG");
  background-size: 100%
}  