h1
{
    color: black;
    font-size: 2.0em;
    text-align: center;
    border-bottom: turquoise;
}
p
{
    color: red;
    font-family: Courier New, Courier, monospace;
    font-size: 1.5em;
    text-align: center;
}
body 
{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/18/Flinders_-_over_Desert_plain.JPG");
  background-size: 100%;
  background-repeat: no-repeat;
}  
img.trafficRed
{
    position: fixed;
    left: 45.5%;
    height: 150px;
    width: 135px;
    top: 150px;
    
}
img.trafficGreen
{
    position: fixed;
    left: 49.5%;
    height: 150px;
    width: 75px;
    top: 150px;
    visibility: hidden;
    
}
button.start
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute;
    transition: .5s ease;
    top: 35%;
    left: 47.5%;

}
#car1
{
    position: fixed;
    left: 20px;
    bottom: 10%;
    width: 400px;
    height: 240px;

}
#car1Winner
{
    position: fixed;
    left: 70%;
    bottom: 65%;
    width: 550px;
    height: 375px;
    visibility: hidden;
}
#car2Winner
{
    position: fixed;
    left: 70%;
    bottom: 70%;
    width: 450px;
    height: 250px;
    visibility: hidden;
}
#car2
{
    position: fixed;
    left: 25px;
    bottom: 5%;
    width: 315px;
    height: 125px;
}
#myContainer {
    width: 400px;
    height: 1000px;
    position: relative;
  }
#finishLine{
    position: fixed;
    left: 1400px;
    bottom: 40px;
    width: 100px;
    height: 225px;
    z-index: 2;
}
#winnerText
{
    position: fixed;
    left: 80%;
    bottom: 65%;
    visibility: hidden;
    color: black;
    font-size: 2.0em;
    text-align: center;
    border-bottom: turquoise;
}