h1
{
    background-color: Gray;
    color: white;
}
h2
{
    background-color: Navy;
    color: white; 
}
.sub
{
    position: relative;
    top:3px;
    font-size:75%;
}
.super
{
    position: relative;
    top: -3px;
    font-size: 75%;
}
p.fix
{
    position: fixed;
    top:400px;
    left:300px;
    width: 450px;
    border-style: dashed;
    text-align: center;
    color: white;
}
p.img 
{
    float: right;
    display: block;
    margin: auto;
    width: 200px;
}
p.abs1
{
    position: absolute;
    top:500px;
    left: 100px;
    width: 100px;
    border-style: dashed;
    text-align: center;
}
param.abs2
{
    position: absolute;
    top: 500px;
    left: 520px;
    width: 100px;
    border-style: dashed;
    text-align: center;
}
p.abs3
{
    position: absolute;
    top: 500px;
    left: 540px;
    width: 100px;
    border-style: dashed;
    text-align: center;
}