h1
{
    background-color: Gray;
    color: white;
}
h2
{
    background-color: Navy;
    color: white; 
}
.sub
{
    position: relative;
    top:3px;
    font-size:75%;
}
.super
{
    position: relative;
    top: -3px;
    font-size: 75%;
}
p.abs
{
    position: absolute;
    top:400px;
    left:300px;
    width: 450px;
    border-style: dashed;
    text-align: center;
    color: white;
}
img 
{
    display: block;
    margin: auto;
    width: 200px;
}
