h1
{
    background-color: Gray;
    color: white;
}
h2
{
    background-color: Navy;
    color: white; 
}
.sub
{
    position: relative;
    top:3px;
    font-size:75%;
}
.super
{
    position: relative;
    top: -3px;
    font-size: 75%;
}
p.fix
{
    position: fixed;
    top:400px;
    left:300px;
    width: 450px;
    border-style: dashed;
    text-align: center;
    color: white;
}
p.img 
{
    float: center;
    display: block;
    margin: auto;
    width: 200px;
    height: 300px;
}
a.abs1
{
    position: fixed;
    top:500px;
    left: 100px;
    width: 200px;
    border-style: dashed;
    text-align: center;
}
a.abs2
{
    position: fixed;
    top: 500px;
    left: 520px;
    width: 200px;
    border-style: dashed;
    text-align: center;
}
a.abs3
{
    position: fixed;
    top: 500px;
    left: 600px;
    width: 200px;
    border-style: dashed;
    text-align: center;
}